html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.box {
  display: flex;
  transition: all 0.3s;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-fluid {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}
